@font-face {
  font-family: '';
  src: url();
}


html {
  position: relative;
  min-height: 100%;
  background-color: #FFC21F;
  color: white;
}

body {
  text-align: center;
  margin: 0 0 100px;
}

h1 {
  font-size: 200px;
  padding-top: 150px;
  text-transform: uppercase;
}

h1:hover + .motto {
  display: block;
}

.motto {
  background-color: white;
  padding: 10px;
}

h2, h3 {
font-size: 15px;
}

li {
  list-style-type: none;
  display: inline-block;
  text-decoration: none;
}

.menu {
  margin: 0 0 auto;
  padding-bottom: 50px;
  text-decoration: none;
}

footer {
  background-color: #ED145B;
  color: white;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
}
